@keyframes mymove {
  0% {
    transform: translateX(-700px);
  }
  50% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(-50px);
  }
}

.name {
  display: flex;
  direction: row;
  margin: 0;
  transform: translateX(-70px);
  max-height: 200px;
  padding-top: 150px;
}

.name span {
  color: #6bf8ff;
  text-shadow:8px 2px 10px black;
  transition: 0.3s !important;
}

@media screen and (max-width: 800px) {
  .name {
    justify-self: center;
    align-items: center;
    /* transform: translateX(-110px); */
    max-height: 150px;
    padding-top: 50px;
  }
  .name span {
    font-size: 20vw;
  }

}

.my-name1 {
  color: black;
  font-size: 100px;
  animation: mymove 1s ease-in-out;
  padding-right: 0;
  padding-left: 150px;
}

.my-name2,
.my-name3,
.my-name4,
.my-name5,
.my-name7,
.my-name8 {
  color: black;
  font-size: 100px;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3s !important;
}

.my-name2, .my-name3, .my-name4, .my-name5, .my-name6, .my-name7, .my-name8, .my-name9 {
  animation: mymove 1s ease-in-out;
  animation-fill-mode: both;
}

.my-name2{
  animation-delay:0.05s;
}

.my-name3 {
  animation-delay: 0.1s;
}

.my-name4 {
  animation-delay: 0.24s;
}


.my-name5 {
  animation-delay: 0.32s;
}

.my-name6 {
  color: black;
  font-size:100px;
  padding-left: 0;
  padding-right: 20px;
}

.my-name6 {
  animation-delay: 0.4s;
}

.my-name7 {
  animation-delay: 0.48s;
}

.my-name8 {
  animation-delay: 0.56s;
}

.my-name9 {
  color: black;
  font-size: 100px ;
  padding-left: 0;
}

.my-name9 {
  animation-delay: 0.64s;
}

.my-name1:hover,.my-name2:hover, .my-name3:hover, .my-name4:hover, .my-name5:hover, .my-name6:hover, .my-name7:hover, .my-name8:hover, .my-name9:hover   {
  transition: 0.3s;
  transform: translateY(-30px);
}

