* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin: 100px;
}

body {
  background-color: rgb(38, 38, 38);
  /* background-color: #F3EFE0; */
  font-family: "Teko", sans-serif;
  /* font-family: 'Mynerve', cursive; */
  overflow-x: hidden;
}



@keyframes navlight {
  0% {
    transform: translate(-100%,-1px);
  }
  100% {
    transform: translate(-2%,-1px);
  }
}

.point-light{
  background-color: #000 ;
  opacity: 0.8;
  height:15px;
  width : 80%;
  transform: translate(-2%,-1px);
  border-bottom-right-radius: 30px;
  box-shadow: #6bf8ff 5px 3px 8px, inset #6bf8ff 3px 2px 8px;
  animation: navlight 2s ease-in-out;
  position: fixed;
  top:72px;
  z-index: 5;
}

.details{
  display: flex;
  direction: row;   
  padding-top: 20px;
}

.details hr{
  width: 6px;
  border: black;
  background-color: black;
  box-shadow: 1px 1px 5px #6bf8ff, 0.5px 0.5px 0.5px #6bf8ff inset;
  animation: detailsAnimate 1s backwards;
  animation-delay: 3s;
}

.details .att1{
  padding-left: 80px;
  padding-right: 20px;
  animation: detailsAnimate 1s backwards;
  animation-delay: 2s;
}

.details .att2{
  padding-right: 20px;
  animation: detailsAnimate 1s backwards;
  animation-delay: 2.25s;
  justify-content: center;
}

.details .att2,.att3{
  padding-left:20px;
}

.details .att3{
  animation: detailsAnimate 1s backwards;
  animation-delay: 2.5s;
}

.details span{
  color: white;
  font-size: 40px;
}


@media screen and (max-width: 800px) {
  .lefthomediv{
    justify-items: center;
  
  }
  .details span{
    font-size: 6vw;
  }

  .details .att1{
    padding-left: 10%;
    padding-right: 0;
  }
  
  .details .att2{
    padding-left:10%;
    padding-right: 0;
  }
  
  .details .att3{
    padding-left:6%;
  }
  .home{
    display:flex;
    flex-wrap: wrap;
  }
}

@keyframes detailsAnimate {

    0%{transform:translateY(40%);opacity: 0;}
    100%{transform: translateY(0%);opacity: 1;}
}

/* @keyframes fade-in {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(90px);
  }
  75% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
} */

*::-webkit-scrollbar{
  width: 16px;
  background-color: rgb(38,38,38);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-left:5px solid rgb(38, 38, 38);
  box-shadow:3px 3px 5px #000, inset 3px 3px 8px black;
}

*::-webkit-scrollbar-thumb{
  background-color: black ;
  box-shadow: #6bf8ff 5px 1px 8px, inset #6bf8ff 2px 2px 8px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}




.block {
  position: relative;
  margin: 80px auto 0;
  background-color: rgb(38, 38, 38);
  filter: blur(80px);
  height: 20px;
  width: 100%;
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  /* background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000); */
    background-image: linear-gradient(
      45deg,
      hsl(183deg 100% 71%) 0%,
      hsl(183deg 81% 61%) 11%,
      hsl(183deg 77% 48%) 22%,
      hsl(183deg 99% 37%) 33%,
      hsl(183deg 99% 30%) 44%,
      hsl(183deg 99% 29%) 56%,
      hsl(183deg 99% 34%) 67%,
      hsl(183deg 76% 45%) 78%,
      hsl(183deg 74% 59%) 89%,
      hsl(183deg 100% 71%) 100%
    );
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}